body {
	font-family: 'Raleway', sans-serif !important;
}

.start {
    background:rgb(43, 43, 43);    
}

.foodmap {
    color: rgb(255, 193, 7);
    font-size: 5em;
    display: flex;
    flex-direction: column;	
    margin-top: 60%;
    
}